<form action="news/" method="post">
<p><span>Выберите рубрику:</span>
    <select size="1" name="category">
        <option value="today">Новости сегодня</option>
        <option value="culture">Культура</option>
        <option value="sport">Спорт</option>
        <option value="economy">Экономика</option>
    </select>
</p>
<p><span>Количество отображаемых новостей:</span>
    <select size="1" name="rows">
        <option value="all">все</option>
        <option value="10">10</option>
        <option value="5">5</option>
    </select>
</p>
<p><input type="submit" value="Отправить"></p>
</form>
